<html>
<head>
	<title>TimeTraveler</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/media/resources/css/base.css">
	<!-- <link href="/media/resources/dist/css/flat-ui.css" rel="stylesheet"> -->
	<script type="text/javascript" src="/media/resources/js/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/media/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/media/resources/js/base.js"></script>
	
	{% block css %} {% endblock %}
	{% block js %} {% endblock %}
</head>

{% block body %}{% endblock %}
	<nav class="navbar navbar-inverse bg-primary" role="navigation" >
		<div class="container" >
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
				<a class="navbar-brand" href="/user/index">TimeTraveler</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/event/myspace">主页</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">相册 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
            			<li><a href="/event/getmyphotos">我的相册</a></li>
            			<li class="divider"></li>
            			<li><a href="/event/getlikephotos">我喜欢的相册</a></li>
          			</ul>
				</li>
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">时间囊 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/timecapsule/mysouvenir">我的时间囊</a></li>
						<li class="divider"></li>
						<li><a href="/timecapsule/new">创建时间囊</a></li>
					</ul>
				</li>
				<li>
					<form class="navbar-form navbar-left" role="search" method="POST" action="/user/search">
						<div class="form-group">
							<input name="search_key_word" id="keyword-input" type="text" class="form-control" placeholder="请输入用户名或邮箱">
						</div>
						<button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
					</form>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="margin-right:10px">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">朋友
						{% if new_followers %}
						<span id="newf-count" class="badge">{{ new_followers|length }}</span>
						<span class="caret"></span>
						{% endif %}
					</a>
					{% if new_followers %}
					<ul class="dropdown-menu" role="menu">
						{% for nf in new_followers %}
						<li id="newfo-list-{{ nf.origin_id }}" rol="presentation">
							<a href="/event/homepage?user_id={{ nf.follower.id }}" onclick="click_know_nf({{ nf.origin_id }})">{{ nf.follower.username }}关注了你</a>
						</li>
						
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">通知
						{% if notifications %}
						<span id="noti-count" class="badge">{{ notifications|length }}</span>
						<span class="caret"></span>
						{% endif %}
					</a>
					{% if notifications %}
					<ul class="dropdown-menu" role="menu">
					{% for noti in notifications %}
						{% if noti.type == 'TC' %}
						<li role="presentation"><a href="/timecapsule/show?id={{noti.origin_id}}">{{ noti.message }}</a></li>
						{% else %}
						<li role="presentation"><a href="/event/show?id={{noti.origin_id}}">{{ noti.message }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
					{% endif %}

				</li>
				<li><a href="/event/homepage?user_id={{ me.id }}">{{ me.username }}</a></li>
				<li><a href="/user/logout">注销</a></li>
			</ul>
		</div>
		</div>
	</nav>

	<div class="container">
	{% block content %} {% endblock %}
</div>

<div class="modal fade" id="timecapsule-noti-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="timecapsule-notifications"></h4>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">关闭</a>
        <a type="button" class="btn btn-primary" href="/timecapsule/mysouvenir">快去看看</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>