{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/resources/css/gallery.css">
{% endblock %}


{% block body %}
<body>
{% endblock %}

	{% block content %}

	<div class="row">
		{% if photos %}
			<div class="col-md-4">
				{% for photo in photos %}
					{% if forloop.counter0|divisibleby:3 %}
					<a href="/event/show?id={{ photo.id }}" class="gallery-image-anchor">
						<div class="thumbnail text-align" class="gallery-image-wrap">
							<img src="/media/{{ photo.url }}" alt="..." class="gallery-image">
						</div>
					</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-4">
				{% for photo in photos %}
					{% if forloop.counter0|divisibleby:3 %}
					{% elif forloop.counter0|divisibleby:2 %}
					<a href="/event/show?id={{ photo.id }}" class="gallery-image-anchor">
						<div class="thumbnail text-align" class="gallery-image-wrap">
							<img src="/media/{{ photo.url }}" alt="..." class="gallery-image">
						</div>
					</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-4">
				{% for photo in photos %}
					{% if forloop.counter0|divisibleby:3 %}
					{% elif forloop.counter0|divisibleby:2 %}
					{% else %}
					<a href="/event/show?id={{ photo.id }}" class="gallery-image-anchor">
						<div class="thumbnail text-align" class="gallery-image-wrap">
							<img src="/media/{{ photo.url }}" alt="..." class="gallery-image">
						</div>
					</a>
					{% endif %}
				{% endfor %}
			</div>

		
		{% else %}
			<h2>{{ message }}</h2>
		{% endif %}
	</div>


	{% endblock %}