{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}


{% block body %}
<body>
{% endblock %}

	{% block content %}

	<div class="row">
		{% if photos %}
		{% for photo in photos %}
		<a href="/event/show?id={{ photo.id }}"><div class="col-md-3 col-md-offset-1 thumbnail" style="text-align:center">
			<img src="/media/{{ photo.url }}" style="width:300px; height=300px" alt="..." class="img-thumbnail">
		</div></a>
		{% endfor %}
		{% else %}
		<h2>{{ message }}</h2>
		{% endif %}
	</div>


	{% endblock %}