<html>
<head>
	<title>TimeTraveler</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container row col-md-10 col-md-offset-1" style="margin-top:30px">
		<div class="jumbotron">
			<h1>{{ message }}</h1>
			<p>按确认键返回继续</p>
			<p><a class="btn btn-primary btn-lg " role="button" style="width:80px" href={{ url }}>确认</a></p>
		</div>
	</div>
</body>
</html>