{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
<body>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>{{ me.username }}的相册集</h1>
		<p>...</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>我的图册</h2>
		<p>
			<a href="#" class="btn btn-default" role="button">打开看看</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>我喜欢的图册</h2>
		<p>
			<a href="#" class="btn btn-default" role="button">打开看看</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>我的时间囊图册</h2>
		<p>
			<a href="#" class="btn btn-default" role="button">打开看看</a>
		</p>
	</div>
</div>




{% endblock %}