{% extends "base.html" %}

{%block css%}
<link rel="stylesheet" type="text/css" href="/media/resources/css/newtimecapsule.css">
{% endblock %}

{% block body %}
<body>
{% endblock %}

{% block content %}


	<div class="row">		
		{% if capsules%}
		{% for capsule in capsules %}
		<div class="col-md-3 col-md-offset-1" style="text-align:center">
				<img src="/media/{{ capsule.user_from.userprofile.portrait.url }}" style="width:300px; height=300px" alt="..." href="/timecapsule/show?id={{ capsule.id }}">
				<h5>来自：{{ capsule.user_from.username }}</h5>
				<h5>埋下日期：{{ capsule.time_start|date:"Y年m月d日 H:m" }}</h5>
				<h5>挖出日期：{{ capsule.time_end|date:"Y年m月d日 H:m" }}</h5>
				<a href="/timecapsule/show?id={{ capsule.id }}" class="btn btn-info newcap-btn">打开</a>
		</div>
		{% endfor %}
		{% else %}
		<h2>您还没有收到任何时间囊~</h2>
		{% endif %}
	</div>

{% endblock %}