<html>
<head>
	<title>TimeTraveler</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/media/resources/bootstrap/css/bootstrap-theme.min.css">
</head>

<body>
	<nav class="navbar navbar-default bg-primary" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/user/homepage">TimeTraveler</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#">我的相册</li>
				<li><a href="/timecapsule/new">时间囊</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="请输入用户名或邮箱">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">通知</a></li>
				<li><a href="/user/profile">{{ user.username }}</a></li>
			</ul>
		</div>
	</nav>

	<div class="row">
		<!-- <div class="col-md-3 col-md-offset-1">
			<a href="/user/profile" class="thumbnail">
				<img data-src="/media/photos/portrait/avatar.jpg" alt="...">
			</a>
			<div class="caption">
				<h3>{{ user.username }}</h3>
				<p>
					<a href="#">共发布: {{ events|length }}</a>
					<a href="#">正在关注: {{ heros|length }}</a>
					<a href="#">关注者: {{ fans|length }}</a>
				</p>
			</div>
		</div> -->
		<div class="col-md-6 col-md-offset-1">
			<form role="form" method="POST" enctype="multipart/form-data" action="/event/create">
				{% csrf_token %}
				<h5>发布新状态</h5>
				<div class="form-group">
					<textarea name="text" class="form-control" rows="3" placeholder="我的新鲜事~" require="true"></textarea>
				</div>
				<div class="form-group">
					<input type="file" name="images">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default btn-primary">发布</button></br>
				</div>
			</form>

			{% if events %}
			<ul>
				{% for event in events %}
				<li>
					<div>
						<h4>{{ event.user.username }}</h4>
						<h5>{{ event.text }}</h5>
						<a href="/media/{{ event.image_1.url }}">{{ event.image_1.name }}</a>
						<img data-src="/media/{{ event.image_1.url}}" alt="..."/>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<h3>没有任何新鲜事</h3>
			{% endif %}

		</div>
	</div>

</body>
</html>