{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/resources/css/myspace.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/resources/js/myspace.js"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-2 col-md-offset-1" align="center">
		<div data-toggle="modal" data-target="#upload-portrait">
			{% if profile.portrait %}
			<img height="200" width="200" src="/media/{{ profile.portrait.url }}" alt="..." class="img-rounded"/>
			{% else %}
			<img  height="200" width="200" src="/media/photos/portrait/avatar.jpg" alt="..." class="img-rounded"/>
			{% endif %}
		</div>
		<div class="caption" style="text-align:center">
			<h3>{{ user.username }}</h3>
			{% if profile.signature != "" %}
			<p class="signature-style">- {{ profile.signature }} -</p>
			{% endif %}
			<p>共发布: {{ my_events|length }}</p>
			<p>正在关注: {{ heros|length }}</p>
			<p>关注者: {{ fans|length }}</p>
		</div>
	</div>
	<div class="col-md-7 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<form role="form" method="POST" enctype="multipart/form-data" action="/event/create">
					{% csrf_token %}
					<div class="form-group">
						<textarea name="text" class="form-control" rows="3" placeholder="我的新鲜事~" require="true"></textarea>
					</div>
					<div class="row">
						<div class="col-md-6">
							<span class="file-input btn btn-info btn-file">
								选取图片 <input type="file" name="images">
								<span></span>
							</span>
						</div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-default btn-primary pull-right">发布</button></br>
						</div>
					</div>
				</form>
			</div>
		</div>

	{% if news %}
		{% for n in news %}
			<div class="list-group">
				<div class="list-group-item">
					<div class="row">
						<div class="col-md-1">
							{% if n.event.user.userprofile.portrait %}
							<img src="/media/{{ n.event.user.userprofile.portrait.url}}" class="img-rounded" height="50" width="50" alt="..."/>
							{% else %}
							<img src="/media/photos/portrait/avatar.jpg" class="img-rounded" height="50" width="50" alt="..."/>
							{% endif %}
						</div>
						<div class="col-md-11">
							<a href="#" style="padding-left:10px">{{ n.event.user.username }}</a>
							{{ n.event.date|date:"Y-m-d"}}
						</div>
					</div>
					<h5>{{ n.event.text }}</h5>
				</div>

				{% if n.event.image_1.name != "" %}
				<div class="list-group-item">
					<img src="/media/{{ n.event.image_1.url }}" style="width:450px; height=450px" alt="..."/>
				</div>
				{% endif %}

				<div id="comment-list-{{ n.event.id }}" class="list-group-item" style="display:{% if n.comments %}block{% else %} none {% endif %}">
					{% for c in n.comments %}
					{% if not forloop.first %}
					<hr>
					{% endif %}
					<div class="row">
						<div class="col-md-1">
							{% if c.user.userprofile.portrait %}
							<img src="/media/{{ c.user.userprofile.portrait.url }}" alt="..." class="img-rounded" height="40" width="40" />
							{% else %}
							<img src="/media/photos/portrait/avatar.jpg" alt="..." class="img-rounded" height="40" width:"40"/>
							{% endif %}
						</div>
						<div class="col-md-11">
							<a href="#" style="padding-left:10px">{{ c.user.username }}</a>
							<span style"padding-left:10px">{{ c.date|date:"Y-m-d"}}</span>
							<p style="padding-left: 10px">{{ c.comment }}</p>
						</div>
					</div>
					{% endfor %}
				</div>

				<div class="list-group-item">
					<div class="input-group">
						<input id="comment-{{ n.event.id }}" type="text" class="form-control" placeholder="我的评论~" required="true">
						<span class="input-group-btn">
							<button id="do-comment" onclick="do_comment({{n.event.id}})" class="btn btn-default btn-primary" type="button">评论</button>
						</span>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h3>没有任何新鲜事</h3>
	{% endif %}

	</div>
</div>

<div class="modal fade" id="upload-portrait" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">上传头像</h4>
			</div>
			<div class="modal-body">

				<form role="form" method="POST" enctype="multipart/form-data" action="/user/upload_portrait">
					<div class="row">
						<div class="col-md-6">
							<span class="file-input btn btn-info btn-file">
								选取头像 <input type="file" name="portrait">
								<span></span>
							</span>
						</div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-default btn-primary pull-right">上传</button></br>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
