{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/resources/css/myspace.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/resources/js/myspace.js"></script>
{% endblock %}

{% block body %}
<body>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div>
			{% if users %}
			<div class="list-group">
				{% for u in users %}
				<div class="list-group-item">
					<img src="/media/{{ u.userprofile.portrait.url}}" class="img-rounded" height="50" width="50" alt="..."/>
					<a href="/event/homepage?user_id={{ u.id }}">{{ u.username }}</a>
					{% if u.userprofile.gender %}
					<span>女</span>
					{% else %}
					<span>男</span>
					{% endif %}	
					{% if u.userprofile.signature != "" %}
					<span>{{ u.userprofile.signature }}</span>
					{% else %}		
					<span>TA很懒，什么都没有写</span>		
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% else %}
			<h3>没有搜到任何用户</h3>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}