.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.event-title {
  vertical-align: middle;
  margin-left: 10px;
}

.signature-style {
  color: #000000;
  font-size: 12px;
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}

.mcard-hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #D4E0EF;
}

.mcard-name {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
}

.mcard-board {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.mcard-count {
  display: block;
  font-size: 28px;
  color: #6790D6;
  font-weight: bold;
  line-height: 1;
}

