.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.list-group-item{
  text-align: center;
  margin-left: 10px;
  border: 0px;
  cursor: pointer;
}

.mtm {
  margin-top: 20px;
}

.mts {
  margin-top: 10px;
}

.pls {
  padding-left: 10px;
}

.pln {
  padding-left: 0;
}

.control-label{
  font-size: 16px;
}

.newcap-btn{
  width: 100px;
}

.cursor-ptr {
  cursor: pointer;
}