.postit {
display: table; 
height: 195px;
width: 195px; 
overflow: hidden; 
#position: fixed; 
/*float:left;*/
}

.postit_img {
background-repeat: no-repeat;
height:195px;
display: table-cell;
vertical-align: middle;
overflow: hidden; 
#position: absolute; 
#top: 50%;
background-image:url('/media/resources/css/images/pos.png');
}

.postit_text{
#position: relative; 
#top: -50%;
margin-top:40px;
margin-bottom:35px;
overflow: hidden;
text-align:center;
font-size:11pt;
font-weight:400; 
margin-left:30px;
margin-right:30px; 
color:#333333; 
}

.mtm {
  margin-top: 30px;
}